.button {
  color: #494949 !important;
  text-transform: uppercase;
  background: #ffffff;
  padding: 15px;
  border: 4px solid #494949 !important;
  display: inline-block;
  transition: all 0.4s ease 0s;
  cursor: pointer;
  margin: 20px 0 10px 0;
  user-select: none;
}

.button:hover {
  color: #ffffff !important;
  background: #2c334e;
  border-color: #000000 !important;
  transition: all 0.4s ease 0s;
}

.red:hover {
  background: pink;
  color: black !important;
}
