.sticker {
  display: inline-grid;
  place-items: center;
  font-family: 'Dancing Script', cursive;
  margin-top: 10vh;
  font-size: clamp(3rem, 5vw, 10rem);
  font-weight: bold;
}

.sticker > *,
.sticker::before,
.sticker::after {
  grid-area: text;
}

.sticker::before,
.sticker::after {
  content: attr(data-text);
  color: #fff;
}

.sticker::before {
  -webkit-text-stroke: 0.22em white;
}

.sticker::after {
  text-shadow: 0.3em 0.1em 0.1em rgba(0, 0, 0, 1);
  z-index: -2;
}
